<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Pruebas correctas" verbose="1">
	<test name="Valores válidos" preserve-order="false"
		parallel="true">
		<classes>
			<class name="org.bedu.FactorialTest">
				<methods>
					<include name="testFactorialCero" />
					<include name="testFactorialDiez" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="Valores inválidos" preserve-order="false"
		parallel="true">
		<classes>
			<class name="org.bedu.FactorialTest">
				<methods>
					<include name="testFactorialMayor" />
					<include name="testFactorialNegativo" />
				</methods>
			</class>
		</classes>
	</test>
</suite>